<div class="small-about">
  I'm Bhargav Prasad Das, an IT engineer and software developer from India.
  Currently, I'm pursuing my graduation from Calcutta University. I have a
  strong passion for coding and technology, and I enjoy solving complex
  problems. I believe in the transformative power of technology and strive to
  make a positive impact.
</div>

<div class="about-topic-container">
  <div class="topic-heading">▢ <em>Educational Qualification</em></div>
  <div class="topic-details-container">
    <div class="topic-details">
      <strong>87%</strong> in Class 10th (From
      <strong>Ballygunge Government High School</strong>)
    </div>
    <div class="topic-details">Year-2020</div>
  </div>
  <div class="topic-details-container">
    <div class="topic-details">
      <strong>86%</strong> in Class 12th (From
      <strong>Ballygunge Government High School</strong>)
    </div>
    <div class="topic-details">Year-2022</div>
  </div>
  <div class="topic-details-container">
    <div class="topic-details">
      <strong>8 CGPA</strong> 1st year (From <strong>University of Calcutta</strong>)
    </div>
    <div class="topic-details">Year-2022-23</div>
  </div>
  <div class="topic-heading">▢ <em>Experiences</em></div>
  <div class="sub-topic-heading">○ <em>Interships</em></div>
  <div class="topic-details-container">
    <div class="topic-details">
      <strong>Front-end Developer</strong> at (
      <strong>DAS SOLUTIONS</strong>)
    </div>
    <div class="topic-details">Year-2023</div>
  </div>
</div>

