<div class="nav-bar-container"  [class.hide]="!isShow">
  <div class="bpd-text" routerLink="" (click)="scrolltoTop()">BPD.</div>
  <div class="nav-bar-frame-2">
    <div class="frame-2-text" routerLink="" (click)="scrolltoTop()">HOME</div>
    <div class="frame-2-icon" routerLink="" (click)="scrolltoTop()">
      <img src="assets\Home Page.svg" alt="" />
    </div>
    <div class="frame-2-text" routerLink="about-me">ABOUT ME</div>
    <div class="frame-2-icon" routerLink="about-me"><img src="assets\User.svg" alt="" /></div>
    <div class="frame-2-text"  routerLink="my-work">MY WORK</div>
    <div class="frame-2-icon" routerLink="my-work"><img src="assets\Business.svg" alt="" /></div>
    <div class="frame-2-text" routerLink="" (click)="scrolltoButtom()">CONTACT</div>
    <div class="frame-2-icon" routerLink=""  (click)="scrolltoButtom()"><img src="assets\Call.svg" alt="" /></div>
  </div>
</div>
