<app-home></app-home>
<app-work-section></app-work-section>
<footer class="socials-contacts-container">
    <a href="mailto:bhargavprasaddas342@gmail.com" target="_blank"><img src="assets\At sign.svg" alt="Email">Email</a>
    <a href="https://in.linkedin.com/in/bhargav-prasad-das-328409256"><img src="assets\🦆 icon _linkedin round_.svg" alt="Linkedin">Linkedin</a>
    <a href="https://www.facebook.com/bhargav.prasaddas.5/"><img src="assets\🦆 icon _facebook round_.svg" alt="Facebook">Facebook</a>
    <a href="https://github.com/Bhargav-Techin"><img src="assets\GitHub.svg" alt="GitHub">GitHub</a>
</footer>
