
<div class="home-section" >
  <img src="assets\Firefly profile img.png" alt="" class="profile-image" />
  <div class="home-left-section">
    <div class="my-name-container">
      <div class="name-text">Hi, I’m Bhargav Prasad Das</div>
      <div class="name-text-reflection">Hi, I’m Bhargav Prasad Das</div>
    </div>
    <div class="banner-container">
      <div class="banner-container-mobile">
        <!-- mobile exclusive -->
        <img
          src="assets\Firefly profile img.png"
          alt=""
          class="profile-image-mobile"
        />
        <!-- mobile exclusive -->
        <div class="slogan-text-container">
          <div class="sd-text">Software Developer</div>
          <div class="slogan-text">
            I don't just write code, I craft user experiences.
            <p>
              I'm an IT enthusiast, set to graduate from CU in 2026. My focus is
              on software development, and I'm eager to apply my knowledge and
              skills in real-world scenarios. I'm always ready for new
              challenges and committed to staying updated with the latest tech
              trends.
            </p>
          </div>
        </div>
      </div>
      <div class="button-container">
        <button class="button-bg" (click)="onHireMeClick()">
          <div class="button-text">HIRE ME</div>
        </button>
        <button class="button-bg" routerLink="my-cv">
          <div class="button-text">DOWNLOAD CV</div>
        </button>
      </div>
    </div>
  </div>
  <div class="about-section-mobile">
    <!-- mobile exclusive -->
    <div class="about-text">ABOUT</div>
    <div class="about-description">
      I'm an IT enthusiast, set to graduate from CU in 2026. My focus is on
      software development, and I'm eager to apply my knowledge and skills in
      real-world scenarios. I'm always ready for new challenges and committed to
      staying updated with the latest tech trends.
    </div>
  </div>
</div>
